<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
        display: inline-block;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div class="lists-wrapper">
      <form id="list-form" method="post" action="/lists/create">
        <input type="text" id="name" name="name" />
        <input type="submit" value="Create" />
      </form>
      <ul id="lists">
        {% for list in lists %}
        <li>
          <a href="{{ list.id }}">
            <input class="check-list-completed" data-id="{{ list.id }}" type="checkbox" {%if list.completed %} checked {% endif %} />
            {{ list.name }}
          </a>
          <button class="delete-list-button" data-id="{{ list.id }}">&cross;</button>
        </li>       
        {% endfor %}
      </ul>
    </div>
    <div class="todos-wrapper">
      <h4>{{ active_list.name }}</h4>
      <form id="form" method="post" action="/todos/create">
        <input type="text" id="description" name="description" />
        <input type="submit" value="Create" />
      </form>
      <div id="error" class="hidden">Something went wrong!</div>
      <ul id="todos">
        {% for todo in todos %}
        <li><input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {%if todo.completed %} checked {% endif %} />{{ todo.description }}
        <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>
   </div>
    <script>
      const deleteBtns = document.querySelectorAll('.delete-button');
      for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function(e) {
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId, {
            method: 'DELETE'
          })
          .then(function() {
            const item = e.target.parentElement;
            item.remove();
          });
        }
      }
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i=0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e){
          console.log(e.target.checked);
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          console.log(todoId)
          fetch('todos/'+ todoId +'/set-completed', {
            method: 'POST',
            body: JSON.stringify({
            'completed': newCompleted
          }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function(){
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }
      const descInput = document.getElementById('description');
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': desc,
            'list_id': {{ active_list.id }}
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log('response', jsonResponse);
          li = document.createElement('li');
          
          const checkbox = document.createElement('input');
          checkbox.className = 'check-completed';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id);
          li.appendChild(checkbox);
          const text = document.createTextNode(' ' + jsonResponse.description);
          li.appendChild(text);
          const deleteBtn = document.createElement('button');
          deleteBtn.className = 'delete-button';
          deleteBtn.setAttribute('data-id', jsonResponse.id);
          deleteBtn.innerHTML = '&cross;';
          li.appendChild(deleteBtn);
          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
      ///////////////////////////////////////////////////////
      const nameInput = document.getElementById('name');
      document.getElementById('list-form').onsubmit = function(e) {
        e.preventDefault();
        const name = nameInput.value;
        nameInput.value = '';
        fetch('/lists/create', {
          method: 'POST',
          body: JSON.stringify({
            'name': name,
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log('response', jsonResponse);
          li = document.createElement('li');
          
          const checkbox = document.createElement('input');
          checkbox.className = 'check-completed';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id);
          li.appendChild(checkbox);
          const text = document.createTextNode(' ' + jsonResponse.name);
          li.appendChild(text);
          const deleteBtn = document.createElement('button');
          deleteBtn.className = 'delete-button';
          deleteBtn.setAttribute('data-id', jsonResponse.id);
          deleteBtn.innerHTML = '&cross;';
          li.appendChild(deleteBtn);
          document.getElementById('lists').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }

      const checkboxesList = document.querySelectorAll('.check-list-completed');
      for (let i=0; i < checkboxesList.length; i++) {
        const checkbox = checkboxesList[i];
        checkbox.onchange = function(e){
          console.log(e.target.checked);
          const newCompleted = e.target.checked;
          const listId = e.target.dataset['id'];
          console.log(listId)
          fetch('/'+listId +'/set-completed', {
            method: 'POST',
            body: JSON.stringify({
            'completed': newCompleted
          }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function(){
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }

      const deleteBtnsList = document.querySelectorAll('.delete-list-button');
      for (let i = 0; i < deleteBtnsList.length; i++) {
        const btn = deleteBtnsList[i];
        btn.onclick = function(e) {
          const listId = e.target.dataset['id'];
          fetch('/lists/' + listId, {
            method: 'DELETE'
          })
          .then(function() {
            console.log(listId);
            console.log(e.target.parentElement)
            const item = e.target.parentElement;
            item.remove();
          });
        }
      }
    </script>
  </body>
</html>